### Loading packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plot
import datetime
import math

from sklearn.preprocessing import MinMaxScaler

### Importing the files

In [2]:
db_store = pd.read_csv("DA1920_store.csv")
db_train = pd.read_csv("DA1920_train.csv")
db_test = pd.read_csv("DA1920_test.csv")

/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Exploring the unmerged data

In [3]:
db_test.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,4,17/09/2015,NaN,NaN,1.0,1,0,0
1,3,4,17/09/2015,NaN,NaN,1.0,1,0,0
2,7,4,17/09/2015,NaN,NaN,1.0,1,0,0
3,8,4,17/09/2015,NaN,NaN,1.0,1,0,0
4,9,4,17/09/2015,NaN,NaN,1.0,1,0,0

In [4]:
db_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,31/07/2015,5263,555,1,1,0,1
1,2,5,31/07/2015,6064,625,1,1,0,1
2,3,5,31/07/2015,8314,821,1,1,0,1
3,4,5,31/07/2015,13995,1498,1,1,0,1
4,5,5,31/07/2015,4822,559,1,1,0,1

In [5]:
db_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Unnamed: 10,Unnamed: 11
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,NaN,
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",NaN,NaN
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NaN,NaN
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,NaN,NaN

### Merging the datasets

In [6]:
dbj1 = db_train.join(db_store.set_index("Store"), on = "Store")
dbj1['Index'] = dbj1.index
dbj1 = dbj1.set_index('Index')
dbj1.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Unnamed: 10,Unnamed: 11
Index,,,,,,,,,,,,,,,,,,,,
0,1,5,31/07/2015,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,NaN,
1,2,5,31/07/2015,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",NaN,NaN
2,3,5,31/07/2015,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NaN,NaN
3,4,5,31/07/2015,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,NaN,NaN
4,5,5,31/07/2015,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,NaN,NaN

In [7]:
len(dbj1.index)

1017209

### Deleting the 'unnamed' columns

In [8]:
dbj1 = dbj1.drop(columns = ['Unnamed: 10', 'Unnamed: 11'])
dbj1.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
Index,,,,,,,,,,,,,,,,,,
0,1,5,31/07/2015,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,31/07/2015,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,31/07/2015,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,31/07/2015,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,31/07/2015,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

### Counting missing data points in every column

In [9]:
dbj1.isnull().sum()

Store                             0
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance            2642
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
dtype: int64

### Creating new variables for competition since and promo 2 since

In [10]:
dbj1['Year'] = pd.DatetimeIndex(dbj1['Date']).year
dbj1['month'] = pd.DatetimeIndex(dbj1['Date']).month
dbj1['week'] = pd.DatetimeIndex(dbj1['Date']).week

dbj1["Had_competitor_since_months"] = (((dbj1["Year"]- dbj1["CompetitionOpenSinceYear"])*12)\
                                        + (dbj1["month"]- dbj1["CompetitionOpenSinceMonth"]))

dbj1["Had_promo2_since_weeks"] = (((dbj1["Year"]- dbj1["Promo2SinceYear"])*52.143)\
                                        + (dbj1["week"]- dbj1["Promo2SinceWeek"]))
dbj1.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,month,week,Had_competitor_since_months,Had_promo2_since_weeks
Index,,,,,,,,,,,,,,,,,,,,,
0,1,5,31/07/2015,5263,555,1,1,0,1,c,...,2008.0,0,NaN,NaN,NaN,2015,7,31,82.0,NaN
1,2,5,31/07/2015,6064,625,1,1,0,1,a,...,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,7,31,92.0,278.715
2,3,5,31/07/2015,8314,821,1,1,0,1,a,...,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31,103.0,225.572
3,4,5,31/07/2015,13995,1498,1,1,0,1,c,...,2009.0,0,NaN,NaN,NaN,2015,7,31,70.0,NaN
4,5,5,31/07/2015,4822,559,1,1,0,1,a,...,2015.0,0,NaN,NaN,NaN,2015,7,31,3.0,NaN

This creates some negative values as values are given even for future competition openings and promo begginings. We can NaN these values and still have our new variables.

In [11]:
dbj1.loc[(dbj1['Had_promo2_since_weeks'] < 0)] = math.nan
dbj1.loc[(dbj1['Had_competitor_since_months'] < 0)] = math.nan

### Creating dummy variables

#### For time variables

- Creating dummies for the day of the week, default is Monday

In [12]:
dbj1 = pd.concat([dbj1, pd.get_dummies(dbj1['DayOfWeek'], drop_first = True)], axis = 1)
dbj1 = dbj1.drop(columns = ['DayOfWeek'])
dbj1.rename(columns = {2:'Tuesday',3:'Wednesday',4:'Thursday',5:'Friday',6:'Saturday',7:'Sunday'}, inplace=True)
dbj1.head()

,Store,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,month,week,Had_competitor_since_months,Had_promo2_since_weeks,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
Index,,,,,,,,,,,,,,,,,,,,,
0,1.0,31/07/2015,5263.0,555.0,1.0,1.0,0,1.0,c,a,...,7.0,31.0,82.0,NaN,0,0,0,1,0,0
1,2.0,31/07/2015,6064.0,625.0,1.0,1.0,0,1.0,a,a,...,7.0,31.0,92.0,278.715,0,0,0,1,0,0
2,3.0,31/07/2015,8314.0,821.0,1.0,1.0,0,1.0,a,a,...,7.0,31.0,103.0,225.572,0,0,0,1,0,0
3,4.0,31/07/2015,13995.0,1498.0,1.0,1.0,0,1.0,c,c,...,7.0,31.0,70.0,NaN,0,0,0,1,0,0
4,5.0,31/07/2015,4822.0,559.0,1.0,1.0,0,1.0,a,a,...,7.0,31.0,3.0,NaN,0,0,0,1,0,0

- Creating dummies for the month, default is January

In [13]:
dbj1 = pd.concat([dbj1, pd.get_dummies(dbj1['month'],drop_first = True)], axis = 1)
dbj1 = dbj1.drop(columns = ['month'])
dbj1.rename(columns = {2:'Feb.', 3: 'Mar.', 4: 'Apr.', 5: 'May', 6: 'June', 7: 'July', 8: 'Aug.', 9: 'Sept.', 10:'Oct.', 11: 'Nov.', 12: 'Dec'}, inplace=True)
dbj1.columns

Index(['Store', 'Date', 'Sales', 'Customers', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'Year', 'week',
       'Had_competitor_since_months', 'Had_promo2_since_weeks', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Feb.', 'Mar.',
       'Apr.', 'May', 'June', 'July', 'Aug.', 'Sept.', 'Oct.', 'Nov.', 'Dec'],
      dtype='object')

- Creating dummies for the year, default is 2013

In [14]:
dbj1 = pd.concat([dbj1, pd.get_dummies(dbj1['Year'],drop_first = True)], axis = 1)
dbj1 = dbj1.drop(columns = ['Year'])
dbj1.columns

Index([                      'Store',                        'Date',
                             'Sales',                   'Customers',
                              'Open',                       'Promo',
                      'StateHoliday',               'SchoolHoliday',
                         'StoreType',                  'Assortment',
               'CompetitionDistance',   'CompetitionOpenSinceMonth',
          'CompetitionOpenSinceYear',                      'Promo2',
                   'Promo2SinceWeek',             'Promo2SinceYear',
                     'PromoInterval',                        'week',
       'Had_competitor_since_months',      'Had_promo2_since_weeks',
                           'Tuesday',                   'Wednesday',
                          'Thursday',                      'Friday',
                          'Saturday',                      'Sunday',
                              'Feb.',                        'Mar.',
                              'Apr.',                         'May',
                              'June',                        'July',
                              'Aug.',                       'Sept.',
                              'Oct.',                        'Nov.',
                               'Dec',                        2014.0,
                              2015.0],
      dtype='object')

#### For other variables

- Creating dummies for the Assortment available, default is a

In [15]:
dbj1 = pd.concat([dbj1, pd.get_dummies(dbj1['Assortment'],drop_first = True)], axis = 1)
dbj1 = dbj1.drop(columns = ['Assortment'])
dbj1.rename(columns = {'b': 'Assortment_b', 'c': 'Assortment_c'}, inplace=True)
dbj1.columns

Index([                      'Store',                        'Date',
                             'Sales',                   'Customers',
                              'Open',                       'Promo',
                      'StateHoliday',               'SchoolHoliday',
                         'StoreType',         'CompetitionDistance',
         'CompetitionOpenSinceMonth',    'CompetitionOpenSinceYear',
                            'Promo2',             'Promo2SinceWeek',
                   'Promo2SinceYear',               'PromoInterval',
                              'week', 'Had_competitor_since_months',
            'Had_promo2_since_weeks',                     'Tuesday',
                         'Wednesday',                    'Thursday',
                            'Friday',                    'Saturday',
                            'Sunday',                        'Feb.',
                              'Mar.',                        'Apr.',
                               'May',                        'June',
                              'July',                        'Aug.',
                             'Sept.',                        'Oct.',
                              'Nov.',                         'Dec',
                              2014.0,                        2015.0,
                      'Assortment_b',                'Assortment_c'],
      dtype='object')

- Creating dummies for the Promo Interval, default is no promo

In [16]:
dbj1 = pd.concat([dbj1, pd.get_dummies(dbj1['PromoInterval'])], axis = 1)
dbj1 = dbj1.drop(columns = ['PromoInterval'])
dbj1.columns

Index([                      'Store',                        'Date',
                             'Sales',                   'Customers',
                              'Open',                       'Promo',
                      'StateHoliday',               'SchoolHoliday',
                         'StoreType',         'CompetitionDistance',
         'CompetitionOpenSinceMonth',    'CompetitionOpenSinceYear',
                            'Promo2',             'Promo2SinceWeek',
                   'Promo2SinceYear',                        'week',
       'Had_competitor_since_months',      'Had_promo2_since_weeks',
                           'Tuesday',                   'Wednesday',
                          'Thursday',                      'Friday',
                          'Saturday',                      'Sunday',
                              'Feb.',                        'Mar.',
                              'Apr.',                         'May',
                              'June',                        'July',
                              'Aug.',                       'Sept.',
                              'Oct.',                        'Nov.',
                               'Dec',                        2014.0,
                              2015.0,                'Assortment_b',
                      'Assortment_c',             'Feb,May,Aug,Nov',
                   'Jan,Apr,Jul,Oct',            'Mar,Jun,Sept,Dec'],
      dtype='object')

- Creating dummies for State Holidays, the default is no holiday

In [17]:
pd.unique(dbj1['StateHoliday'])

array(['0', nan, 'a', 'b', 'c', 0], dtype=object)

Some variables are labelled 0 and other '0', we need to make them the same.

In [18]:
dbj1.loc[(dbj1['StateHoliday'] == 0)] = '0'

In [19]:
dbj1 = pd.concat([dbj1, pd.get_dummies(dbj1['StateHoliday'])], axis = 1)
dbj1 = dbj1.drop(columns = ['StateHoliday', '0'])
dbj1.rename(columns = {'a': 'Public_Holiday','b': 'Easter holiday', 'c': 'Christmas'}, inplace=True)
dbj1.columns

Index([                      'Store',                        'Date',
                             'Sales',                   'Customers',
                              'Open',                       'Promo',
                     'SchoolHoliday',                   'StoreType',
               'CompetitionDistance',   'CompetitionOpenSinceMonth',
          'CompetitionOpenSinceYear',                      'Promo2',
                   'Promo2SinceWeek',             'Promo2SinceYear',
                              'week', 'Had_competitor_since_months',
            'Had_promo2_since_weeks',                     'Tuesday',
                         'Wednesday',                    'Thursday',
                            'Friday',                    'Saturday',
                            'Sunday',                        'Feb.',
                              'Mar.',                        'Apr.',
                               'May',                        'June',
                              'July',                        'Aug.',
                             'Sept.',                        'Oct.',
                              'Nov.',                         'Dec',
                              2014.0,                        2015.0,
                      'Assortment_b',                'Assortment_c',
                   'Feb,May,Aug,Nov',             'Jan,Apr,Jul,Oct',
                  'Mar,Jun,Sept,Dec',              'Public_Holiday',
                    'Easter holiday',                   'Christmas'],
      dtype='object')

### Standardising the data

In [20]:
variables = ['Sales','Customers','CompetitionDistance']
scaler = MinMaxScaler() 
db_scaled = scaler.fit_transform(dbj1[variables])
x = pd.DataFrame(db_scaled,
                 columns = variables
                )
x.rename(columns = {'Sales': 'Sales_norm','Customers':'Customers_norm','CompetitionDistance':'CompetitionDistance_norm'}, inplace=True)
x['Index'] = x.index
x = x.set_index('Index')
dbj1 = dbj1.join(x, on = 'Index')
dbj1.head()

/Users/nathankhadaroo/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

,Store,Date,Sales,Customers,Open,Promo,SchoolHoliday,StoreType,CompetitionDistance,CompetitionOpenSinceMonth,...,Assortment_c,"Feb,May,Aug,Nov","Jan,Apr,Jul,Oct","Mar,Jun,Sept,Dec",Public_Holiday,Easter holiday,Christmas,Sales_norm,Customers_norm,CompetitionDistance_norm
Index,,,,,,,,,,,,,,,,,,,,,
0,1,31/07/2015,5263,555,1,1,1,c,1270,9,...,0,0,0,0,0,0,0,0.126664,0.075122,0.016741
1,2,31/07/2015,6064,625,1,1,1,a,570,11,...,0,0,1,0,0,0,0,0.145941,0.084597,0.007514
2,3,31/07/2015,8314,821,1,1,1,a,14130,12,...,0,0,1,0,0,0,0,0.200091,0.111126,0.186264
3,4,31/07/2015,13995,1498,1,1,1,c,620,9,...,1,0,0,0,0,0,0,0.336815,0.202761,0.008173
4,5,31/07/2015,4822,559,1,1,1,a,29910,4,...,0,0,0,0,0,0,0,0.116050,0.075663,0.394279

In [30]:
dbj1['CompetitionDistance'].dtype

dtype('O')

# Exporting the data

In [15]:
dbj1.to_csv("dbji.csv")

### Problems with promos? (No, problem with Nathan)

In [21]:
len(dbj1.loc[(dbj1["Promo2"] == 0) & ((dbj1["Feb,May,Aug,Nov"] == 1) | (dbj1["Jan,Apr,Jul,Oct"] == 1)|(dbj1["Mar,Jun,Sept,Dec"] == 1))])

0

### When stores are closed, are there any sales or customers?

In [22]:
dbj1.loc[(dbj1["Open"] == 0) & (dbj1["Sales"] > 0),["Sales"]]

TypeError: '>' not supported between instances of 'str' and 'int'

In [23]:
dbj1.loc[(dbj1["Open"] == 0) & (dbj1["Customers"] > 0),["Customers"]]

TypeError: '>' not supported between instances of 'str' and 'int'

### Le Heatmap de Laura

In [24]:
k = 30
#create a list called cols. that looks for the 10 largest correlations to SalePrice in the dataset . 
cols = dbj1.corr().nlargest(k, 'Sales')['Sales'].index
#create a correlation matrix using the list of columns created above. 
k_corr_matrix = dbj1[cols].corr()
#plot the figure with given dimensions. 
plot.figure(figsize=(48, 32))
#display the correlation matrix using seaborn's heatmap function. plot strength from red to blue.
sns.heatmap(k_corr_matrix, annot=True, cmap=plot.cm.RdBu_r)

KeyError: 'Sales'